
/* login */
.login__card {
  max-width: 650px;
  width: 100%;
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 20px;
  background: #001C28;
  text-align: initial;
  border-radius: 8px;
  padding: 40px;
  margin: 145px 0;
}
.login__card div:nth-child(1) {
  display: flex;
  justify-content: center;
  align-items: center;
}
.login__title {
  font-size: 24px;
  font-weight: bold;
  line-height: 40.32px;
  margin: 0;
}
.login__title span {
  color: #03A9F4;
}
.login__text {
  color: #85A1AD;
  font-size: 14px;
  margin: 16px 0;
}
.google__btn {
  width: 100%;
  border-radius: 8px!important;
}
.google__btn div {
  border-radius: 8px!important;
}
.google__btn svg {
  display: flex;
  margin: 0;
}
.google__btn span {
  font-size: 14px;
  font-weight: 600;
  color: #03A9F4;
}